/*=============== Mobile ========================================*/
@media (max-width: 360px) {
}

@media (max-width: 480px) {
}

@media (max-width: 640px) {
  .nav-music .logo .logo-title {
    font-size: var(--font-size-md);
  }
  .nav-list {
    display: none;
  }

  .nav-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-musicMobile {
    display: none;
    width: 50%;
    height: 100vh;
    position: absolute;
    background-color: var(--clr-white-two);
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
  }
  .music-play {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .music-categories {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .music-play,
  .music-categories {
    overflow: hidden;
  }
  .title-categories {
    width: 100%;
    margin-bottom: 1rem;
  }
  .title-categories h1 {
    text-align: center;
    font-size: var(--font-size-lg);
  }
  .slider-categories-text {
    margin: var(--margin);
  }
  .slider-categories-text .categories-list {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  .categories-list .categories-link button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--clr-secondary);
    color: var(--clr-white-two);
    border: none;
    outline: none;
  }
  .slider-categories-img {
    width: 100%;
    margin: 1rem auto;
  }
  .slider-categories-img .list-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .slider-img-plus {
    margin-right: 1rem;
  }
  .slider-img-plus figure {
    width: 15rem;
    height: 20rem;
  }
  .slider-img-plus figure img {
    border-radius: 2rem;
  }
  .slider-text {
    width: 100%;
    padding: 1rem;
  }
  .slider-text h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
}
/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {
  .nav-music .logo .logo-title {
    font-size: var(--font-size-extra);
  }
  .list-music {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-list {
    display: flex;
    width: 25rem;
  }
  .nav-list .list-music {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .list-music-link a {
    font-size: var(--font-size-sm-plus);
    font-weight: 500;
  }
  .nav-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-icon-menu {
    display: none;
  }
  .nav-musicMobile {
    display: flex;
  }

  .search {
    width: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .search input {
    width: 100%;
  }

  main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: var(--margin);
    padding: var(--padding);
    display: grid;
    grid-template-columns: 10rem repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-template-areas: 'slider musicPlay categories';
  }
  .music-play {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .music-categories {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .image-play {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }
  .image-play figure {
    width: 100%;
    height: 100%;
  }
  .image-play figure img {
    border-radius: 1rem;
  }
  .reproductor-title h1 {
    font-size: 2rem;
  }
  .title-categories h1 {
    font-size: 3.4rem;
  }
  .slider-categories-text,
  .slider-categories-img {
    overflow-x: hidden;
    padding: 0.5rem;
    position: relative;
    scroll-behavior: smooth;
  }
  .slider-categories-text .categories-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
  }
  .list-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
  }
  .list-slider .slider-img-plus {
    margin-right: 0.5rem;
  }
  .slider-img-plus figure {
    width: 15rem;
    height: 20rem;
  }
  .slider-img-plus figure img {
    border-radius: 1rem;
  }
  .slider-text h3 {
    font-size: var(--font-size-sm-plus);
    font-weight: 700;
  }
  .categories-link button {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .nav-musicMobile {
    grid-area: slider;
  }
  .music-pla {
    grid-area: musicPlay;
  }
  .music-categories {
    grid-area: categories;
  }
  /* === New Btn === */
  .btn-notification:is(:focus, :focus-visible) {
    color: var(--clr-secondary);
    transform: scale(0.9);
  }
  .image-banner {
    object-fit: cover;
    border-radius: 1rem;
  }
  .music-banner {
    width: 90%;
    margin: 1rem auto;
    height: 20rem;
  }
  .player {
    height: 100%;
    overflow: hidden;
    display: flex;
    text-align: center;
  }
  .player .container {
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 0.5rem;
  }
  .label-wrapper {
    justify-content: center;
    opacity: 0.8;
    /* margin-block: 8px 4px; */
    margin: 8px auto;
  }
  .label-wrapper span:first-child::after {
    content: '|';
    display: inline-block;
    margin-inline: 0.4rem;
  }
  .artist {
    opacity: 0.6;
    /*  margin-block-end: 3rem; */
    margin-bottom: 3rem;
  }
  .seek-control {
    margin-bottom: 2rem;
    /*  margin-block-end: 2rem; */
  }
  .range-wrapper {
    position: relative;
  }
  .range {
    appearance: none;
    cursor: pointer;
  }
  .range::-webkit-slider-runnable-track {
    appearance: none;
    background-color: var(--clr-secondary);
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
  }
  .range::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--clr-primary);
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -5px;
    border-radius: 1rem;
    transition: var(--transition-1);
  }
  .range::-webkit-slider-thumb:hover {
    box-shadow: var(--box-shadow);
  }
  .range::-webkit-slider-thumb:is(:focus, :focus-visible) {
    box-shadow: var(--box-shadow);
  }
  .range-fill {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0.6rem;
    background-color: var(--clr-third);
    border-radius: 1rem;
    pointer-events: none;
  }
  .duration-label {
    display: flex;
    justify-content: space-around;
    /* margin-top: 2rem; */
    margin: 1rem auto;
    width: 90%;
  }
}
/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
}
/*=============== #Option Screen  ===================================*/
@media only screen and (min-width: 1280px) {
}

/*=============== Laptop Large Screen  ===================================*/
@media only screen and (min-width: 1440px) {
}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
}

/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
