/*=============== Mobile ========================================*/
@media (max-width: 360px) {
}

@media (max-width: 480px) {
}

@media (max-width: 640px) {
  .nav-music .logo .logo-title {
    font-size: var(--font-size-md);
  }
  .nav-list {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
}
/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {
  .nav-music .logo .logo-title {
    font-size: var(--font-size-lg);
  }
  .list-music {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-list {
    display: flex;
    width: 25rem;
  }
  .nav-list .list-music {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .list-music-link a {
    font-size: var(--font-size-sm-plus);
    font-weight: 500;
  }
}
/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
}
/*=============== #Option Screen  ===================================*/
@media only screen and (min-width: 1280px) {
}

/*=============== Laptop Large Screen  ===================================*/
@media only screen and (min-width: 1440px) {
}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
}

/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
