/* === Import === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700;900&display=swap');
/* === Root && Design System === */
:root {
  --clr-white: #ffffff;
  --clr-white-two: #f2f2f2;
  --clr-black: #111111;
  --clr-black-two: #333333;
  --clr-primary: #060a0d;
  --clr-secondary: #7614d9;
  --clr-third: ##f2b05e;
  --clr-extra: #7c428c;
  --clr-extra-two: #4f2859;
  /*  ==*/
  --font-f-poppins: 'Poppins', sans-serif;
  --font-f-unbounded: 'Unbounded', cursive;
  /* === */
  --font-size-sm: 1.2rem;
  --font-size-sm-plus: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 1.8rem;
  --font-size-title: 2.4rem;
  --font-size-title-plus: 3.5rem;
  /* === */
  --margin: 2rem auto;
  --margin-top: 2rem;
  --margin-bottom: 2rem;
  --margin-right: 1rem;
  --margin-left: 1rem;
  --margin-zero: 0 auto;
  /* === */
  --padding: 1rem;
  --padding-plus: 2rem;
  --padding-btn: 1.5rem 3rem;
  /* === */
  --box-shadow: 1px 2px 15px 2px #333333;
  /* === */
  --grid: grid;
  --grid-column-fit: repeat(auto-fit, minmax(150px, 1fr));
  --grid-column-fit: repeat(auto-fill, minmax(150px, 1fr));
  /* === */
  --btn-scale-transform: scale(0.9);
  --btn-border-radius: 0.5rem;
  --btn-border-radius-one: 1rem;
  --btn-border-radius-two: 2rem;
}

/* === Css Style === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: var(--font-f-poppins);
  /*  background: var(--clr-primary); */
  background: var(--clr-white);
}

img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

h1,
h2 {
  font-family: var(--font-f-unbounded);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span,
p {
  letter-spacing: 0.1rem;
}

/* === Main === */
main {
  width: 100%;
  margin: var(--margin);
  padding: var(--padding);
  display: grid;
}

footer {
  width: 100%;
  margin: var(--margin);
  padding: var(--padding);
}

/* === DISPLAY */
.hidden {
  display: none;
  /*   overflow: hidden; */
}
.visible {
  display: flex;
  /*   overflow: visible; */
}

/* === Design Style Music Project === */
.header-music {
  width: 100%;
  padding: var(--padding);
  outline: 3px solid #333333;
}
.header-music .nav-music {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  color: var(--clr-secondary);
  font-weight: 900;
  font-family: var(--font-f-unbounded);
  text-transform: uppercase;
}

/* === Search*/
.search {
  border: 0.2rem solid #060a0d;
  padding: 0.2rem;
  border-radius: 2rem;
}
.search label {
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.search input {
  margin-right: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}

/* === Nav List Music === */
.list-music-link a {
  /*  color: var(--clr-white-two); */
  color: var(--clr-secondary);
}
.nav-icon {
  width: 10rem;
}
.nav-icon .nav-icon-notification i {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-icon-user figure {
  width: 3rem;
  height: 3rem;
}
.nav-icon-user figure img {
  border-radius: 50%;
}

.btn-nav,
.btn-notification {
  padding: 0.5rem;
  border: none;
}

.nav-musicMobile {
  grid-area: slider;
  width: 100%;
}

.nav-musicMobile button {
  padding: 1rem;
  border: none;
}

.nav-musicMobile button i {
  font-size: 2rem;
  color: #7614d9;
  cursor: pointer;
}

.nav-listMobile {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.music-play {
  grid-area: musicPlay;
  width: 100%;
}
.music-categories {
  grid-area: categories;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reproductor-title {
  width: 100%;
  padding: 1rem;
}
.title-categories h1 {
  font-family: var(--font-f-unbounded);
}

.slider-categories-text {
  width: 100%;
}
.slider-categories-img {
  width: 100%;
}
